.App {
  text-align: center;
}
.img{
  width: 50px;
  height:50px;
  object-fit: contain;
}
.res{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px  0px 15px 0px;
}
p{
  line-break: anywhere;
  width: 300px;
}
.pagination{
  display: inline-flex;
  justify-content: center;
  list-style: none;
  width: 1000px;
  flex-wrap: wrap;
}
.pagination li{
  margin: 10px;
}
a{
  cursor: pointer;
}
